<?php
/**
 * Category layered navigation
 *
 * @var $block Navigation
 */

use Manadev\LayeredNavigation\Blocks\Navigation;

$category = $block->getCurrentCategory();
$categoryName = isset($category) ? $category->getName() : '';
$keeper = $block->getCategoryKeeper();
$allowtype =  array_map('trim', explode(',', $block->getAllowfileType()));
[$firstName, $lastName, $email] = $block->getUserData();
?>
<?php if(isset($keeper) and $keeper->getId()): ?>
    <div class="modal-bok modal-wrapper" id="modal">
        <div class="modal--simple modal--ask">
            <div class="modal--close" id="close--modal--category">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 45 45" width="45" height="45">
                    <style>
                        tspan { white-space:pre }
                        .shp0 { fill: #000000 }
                    </style>
                    <g id="popup">
                        <path id="Kształt 28" class="shp0" d="M39.15 6.15L39.85 6.85L6.85 39.85L6.15 39.15L39.15 6.15Z" />
                        <path id="Kształt 28 kopia" class="shp0" d="M39.85 39.15L39.15 39.85L6.15 6.85L6.85 6.15L39.85 39.15Z" />
                    </g>
                </svg>
            </div>
            <form enctype='multipart/form-data' action="<?= $block->getKeeperFormAction() ?>" method="post"
                  data-mage-init='{"validation":{}}'
                  class="modal--content ">
                <img src='<?php echo $this->getViewFileUrl('Magento_Catalog::images/question-mark.svg'); ?>'
                     class="question-mark">
                <h4 class="ask-heading">
                    <span>Zadaj pytanie</span>
                </h4>
                <div class="category-keeper">
                    <div class="photo">
                        <img src="<?= $keeper->getImage() ?>" alt="">
                    </div>
                    <div class="category-keeper--data">
                        <b><?= $keeper->getName() ?></b>
                        <span>opiekun kategorii</span>
                    </div>
                    <img class="bracket"
                         src='<?php echo $this->getViewFileUrl('ITCP_PiggyBank::images/nawias1.png'); ?>'
                         alt=")">
                </div>
                <p><b>Opiekun skontaktuje się z Tobą w celu odpowiedzi na Twoje pytanie.</b></p>
                <div class="form">
                    <input type="hidden" name="keeper_id" value="<?= $keeper->getId() ?>">
                    <input type="hidden" name="department" value="5">
                    <input type="hidden" name="product_id" value="-1">
                    <input type="hidden" name="categoryName" value="<?= $categoryName ?>">
                    <div class="input--wrapper">
                        <input required type="text" name="firstname" id="" placeholder="Imię" class="half"
                               value="<?= $firstName ?? '' ?>">
                    </div>
                    <div class="input--wrapper">
                        <input required type="text" name="lastname" id="" placeholder="Nazwisko" class="half"
                               value="<?= $lastName ?? '' ?>">
                    </div>
                    <span></span>
                    <div class="input--wrapper">
                        <input required type="email" name="email" id="" placeholder="Email" class="half"
                               data-validate='{"required":true,"validate-email":true}'
                               value="<?= $email ?? '' ?>">
                    </div>
                    <div class="input--wrapper">
                        <input required type="tel" name="phone" id="" placeholder="Telefon"
                               data-msg-pattern="Poprawny format +48_________"
                               data-validate='{"required":true,"pattern":/^\+48[0-9]{9}\s*$/}'
                               class="half" value="<?= $block->getCustomerPhone() ?>">
                    </div>
                    <p>Nazwa kategorii: &nbsp&nbsp<b> <?= $categoryName ?></b></p>
                    <textarea required name="description" id="" cols="30" rows="10"></textarea>
                </div>
                <div class="bottom">
                    <div class="accept">
                        <div class="checkbox--modal">
                            <?= $block->getCheckboxData() ?>
                        </div>
                        <img src='<?php echo $this->getViewFileUrl('Magento_Catalog::images/fala.svg'); ?>'
                             alt="">
                    </div>
                    <div class="buttons">

                        <input multiple="multiple" type="file" id="media" name="attachment[]" style="display: none">
                        <label class="btn btn--yellow btn--label" style="margin-bottom: 10px" for="media">
                            DODAJ ZAŁĄCZNIK
                        </label>
                        <div class="file__attachments" style="margin-top: 5px">
                        </div>
                        <button type="submit" class="btn btn--green">Wyślij</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script type="text/javascript">
        require(['jquery','mage/mage', 'jquery/ui','jquery/validate'], function($){
            var dataForm = jQuery('#msg-form-validate');
            dataForm.mage('validation', {});
            let allowed = "<span style='font-size: 1.0rem;color:red'>Dozwolone <?= $block->getAllowfileType() ?></span>";

            function fileValidation(input) {
                if(input.files.length > 5){
                    alert("Maksymalnie 5 plików");
                    jQuery("#media").val('');
                    return false;
                }
                for (let i = 0; i < input.files.length; i++) {
                    let fileSize = input.files[i].size / 1024 / 1024;
                    if(fileSize > 5){
                        alert("Wprowadź załączniki poniżej 5 MB");
                        jQuery("#media").val('');
                        return false;
                    }
                }
                if (input.files && input.files[0]) {
                    var maxSize = 2 * 1024000;
                    var size = input.files[0].size;
                    var extensions = <?php echo json_encode($allowtype); ?>; //["jpeg", "jpg", "png", "gif"];

                    let filesLabels = input.parentNode.querySelector('.file__attachments');
                    filesLabels.innerHTML = "";
                    let allow = true;
                    Array.from(input.files).map(({name}) => {
                        let type = name.split('.').pop().toLowerCase();
                        if (jQuery.inArray(type, extensions) == -1) {
                            jQuery("#media").val('');
                            filesLabels.innerHTML = allowed;
                            allow = false;
                            return false;
                        }
                    })
                    if(allow){
                        if (input.files && input.files.length >= 1) {
                            Array.from(input.files).map(({name}) => {
                                let type = name.split('.');
                                filesLabels.innerHTML += "<div class='file__item item'><span class='file__item--span'><i class='fa fa-paperclip' aria-hidden='true'></i>"+name.slice(0, 15)+"...</span></div>";
                            })
                        }
                        return true;
                    }
                    return false;
                }
            }
            jQuery("#media").change(function () {
                fileValidation(this);
            });


        });

    </script>
    <script>
        require(["modal"], function (Modal) {
            const addModal = new Modal('#modal', '#askProduct', '#close--modal--category', function (e) {

            }, function (e, modal) {

            });
        });
    </script>
<?php endif; ?>

<?php if ($block->isSuccessModal() and $keeper ? $keeper->getId() : null): ?>
    <div class="modal-bok modal-wrapper active" id="modalAskSuccess">
        <div class="modal--simple modal--ask">
            <div class="modal--close">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 45 45" width="45" height="45">
                    <style>
                        tspan { white-space:pre }
                        .shp0 { fill: #000000 }
                    </style>
                    <g id="popup">
                        <path id="Kształt 28" class="shp0" d="M39.15 6.15L39.85 6.85L6.85 39.85L6.15 39.15L39.15 6.15Z" />
                        <path id="Kształt 28 kopia" class="shp0" d="M39.85 39.15L39.15 39.85L6.15 6.85L6.85 6.15L39.85 39.15Z" />
                    </g>
                </svg>
            </div>
            <div class="modal--content ">
                <h4 class="ask-heading">
                    <span>Zadaj pytanie</span>
                </h4>
                <p>
                    <img class="bracket"
                         src='<?php echo $this->getViewFileUrl('ITCP_PiggyBank::images/nawias1.png'); ?>'
                         alt=")">
                    <?= $block->getModalThanks() ?>
                </p>
                <div>
                    <p>Numer zgłoszenia: &nbsp&nbsp<b><?= $block->askKeeperId() ?></b></p>
                    <p class="keeper__content">
                        Opiekun skontaktuje się z Tobą w celu odpowiedzi na Twoje pytanie.
                        <img src='<?php echo $this->getViewFileUrl('Magento_Catalog::images/fala.svg'); ?>' class="wave"
                             alt="">
                    </p>
                </div>

                <div class="bottom">
                    <div class="category-keeper">
                        <div class="photo">
                            <img src="<?= $keeper->getImage() ?>" alt="">
                        </div>
                        <div class="category-keeper--data">
                            <b><?= $keeper->getName() ?></b>
                            <span>opiekun kategorii</span>
                        </div>
                    </div>
                    <div class="buttons">
                        <button class="btn btn--green">KONTYNUJ ZAKUPY</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        require(["modal"], function (Modal) {
            const modalAskSuccess = new Modal('#modalAskSuccess', '#modalAsk2 .btn--green', '.modal--close', function (e) {
            }, function (e, modal) {
            });

            document.querySelector('#modalAskSuccess .btn--green').addEventListener('click', () => {
                modalAskSuccess.hide();
            });
        });
    </script>
<?php endif; ?>

