<?php
/**
 * Category layered navigation
 *
 * @var $block \Manadev\LayeredNavigation\Blocks\Navigation
 */
    $category = $block->getCurrentCategory();
    $categoryName = isset($category) ? $category->getName() : '';
    $keeper = $block->getCategoryKeeper();
    $allowtype =  array_map('trim', explode(',', $block->getAllowfileType()));
?>
<div class="person">
    <?php if(isset($keeper) and $keeper->getId()): ?>
        <div class="image"><img src="<?= $keeper->getImage() ?>" alt="alt"></div>
        <div class="name"><?= $keeper->getName() ?></div>
        <div class="role">Opiekun kategorii</div>
        <div class="navigation--ask--product__link" id="askProduct">zadaj pytanie</div>
    <?php endif; ?>
</div>
<div class="active-filters animated-tab" data-tab="1" data-tab-index="1">
    <div class="heading">
        <h4>aktywne filtry: </h4>
    </div>
    <?php if ($block->hasState() && $block->isAppliedFilterVisible()) : ?>
        <?php foreach ($block->getAppliedFilters() as $engineFilter): ?>
            <?php foreach ($engineFilter->getAppliedItems() as $item) : ?>
                <div class="filter">
                    <?php echo $block->renderAppliedItem($engineFilter, $item) ?>
                </div>
            <?php endforeach; ?>
        <?php endforeach; ?>
    <?php else: ?>
        <div class="filter" style="border-bottom: 1px solid #e0e0e0;">
            Brak wybranych filtrów
        </div>
    <?php endif; ?>
</div>

<div id="menuFilters" class="filters-menu animated-tab" data-tab="1" data-tab-index="1">
    <div class="title_wrapper">
        <h4>filtry</h4>
        <span class="mobileExit" onclick="hiddenMobileFilters()">X</span>
    </div>
    <form id="filter-form" method="GET" action="<?= /* @escapeNotVerified */
    $block->getUrlWithoutParameters() ?>">
        <?php if ($block->isVisible()): ?>
            <div class="block filter mana-filter-block"
                 data-mage-init='{ "Manadev_LayeredNavigation/js/NavigationView": {} }'>
                <div class="block-content filter-content">
                    <dl class="filter-options" id="narrow-by-list">
                        <?php foreach ($block->getFilters() as $filter): ?>
                            <?php $cssClass = $block->getData('css_prefix') . '-filter-' . str_replace('_', '-', $filter->getFilter()->getData('param_name')) ?>
                            <div class="category">
                                <?php if($filter->getName()  == "Category"): ?>
                                    <h5>Wszystkie kategorie</h5>
                                <?php else: ?>
                                    <h5><?php echo $block->escapeHtml(__($filter->getName()))?></h5>
                                <?php endif; ?>
                                <div class="filter-options-content <?php echo $cssClass ?>">
                                    <?php echo $block->renderFilter($filter) ?>
                                </div>
                            </div>
                        <?php endforeach; ?>
                    </dl>
                </div>
            </div>
        <?php endif; ?>
        <button type="submit" id="submit-button" class="btn btn--yellow filter-button">
            FILTRUJ
        </button>
    </form>
</div>

<div class="description">
    <h4 class="d-title"><?= $categoryName ?></h4>
    <?= isset($category) ? $category->getDescription() : '' ?>
</div>

<script>

    document.querySelector('#filter-form').addEventListener('submit', e => {
        e.preventDefault();
        const list = Array.from(e.target.elements);

        const uniqNames = [];
        list.forEach(function (item, index, array) {
            if (uniqNames.findIndex((name) => name === item.name) === -1 && item.name) {
                uniqNames.push(item.name)
            }
        });
        let url = `<?=$block->getUrlWithoutParameters() ?>?${uniqNames
            .map(name => {

                    if (name === 'price') {
                        const value = Array.from(e.target.querySelectorAll(`input[name=${name}]`)).map(({value}) => value);
                        return `${name}=${value.join("-")}`
                    } else {
                        const value = Array.from(e.target.querySelectorAll(`input[name=${name}]:checked`)).map(({value}) => value);
                        return `${name}=${value.join("_")}`
                    }

                }
            ).join('&')}`;

        if(url.includes('catalogsearch') && document.querySelector('#search')){
            url +="&q=" + document.querySelector('#search').value;
        }
        window.location = url;
    })
</script>
