<?php
/**
 * @copyright   Copyright (c) http://www.manadev.com
 * @license     http://www.manadev.com/license  Proprietary License
 */
/** @var $block \Manadev\LayeredNavigation\Blocks\AppliedItemRenderer */
/** @var $item array */
/** @var $engineFilter \Manadev\LayeredNavigation\EngineFilter */
/** @var $filter \Manadev\LayeredNavigation\Models\Filter */
?>
<h5><?php echo $block->escapeHtml(__($engineFilter->getName())); ?>:</h5>
<div class="value">
    <span><?php echo $block->escapeItemLabel($engineFilter, $item['label']) ?></span>
    <button type="button" onclick="location.href='<?php echo $block->getRemoveUrl($engineFilter, $item) ?>';" class="exit">&times;</button>
</div>