<?php
/**
 * @copyright   Copyright (c) http://www.manadev.com
 * @license     http://www.manadev.com/license  Proprietary License
 */
/** @var $block \Manadev\LayeredNavigation\Blocks\FilterRenderer */
/** @var $data array */
/** @var $engineFilter \Manadev\LayeredNavigation\EngineFilter */
/** @var $filter \Manadev\LayeredNavigation\Models\Filter */
?>
<ol id="<?php echo $block->getFilterName($filter) ?>" class="items group"
    data-mage-init='{ "Manadev_LayeredNavigation/js/FilterView": {} }'>
    <?php if (isset($data) and count($data) and $data[0]['label'] instanceof Magento\Framework\Phrase and $block->getFilterName($filter) == 'show_in_main_sidebar-price'): ?>
        <?php
            $priceForm = $data[0]['from'] ?? 0;
            $priceTo = $data[0]['to'] ?? null;
            if(!$priceTo){
                $priceTo = $block->getProductCollectionPriceMax();
            }
        ?>
        <input type="text" class="yellow-radio pair pair-from"
               name="<?= $block->getFilterParamName($filter) ?>"
           value="0">

        <input type="text" class="yellow-radio pair pair-to"
               name="<?= $block->getFilterParamName($filter) ?>"
               value="99999">

        <div class="price-range-wrapper pair">
            <div id="custom-<?= $block->getFilterName($filter) ?>">
            </div>
        </div>
        <script>
            require(["jquery","nouislider"], function ($,slider) {
                const name = '#custom-<?= $block->getFilterName($filter)?>';
                const element = document.querySelector(name);
                const from = document.querySelector('.pair-from');
                const to = document.querySelector('.pair-to');
                $(".pair-from").val("test");
                slider.create(element, {
                    start: [<?= $priceForm ?>, <?= $priceTo ?? $block->getProductCollectionPriceMax() ?>],
                    connect: true,
                    range: {
                        'min': 0,
                        'max': <?= $block->getProductCollectionPriceMax()?>
                    }
                });

                element.noUiSlider.on('update', () => {

                    const values = element.noUiSlider.get();
                    from.value = values[0];
                    to.value = values[1];

                    const handles = document.querySelectorAll(`${name} .noUi-origin`);
                    values.forEach((item, index) => {
                        handles[index].style.setProperty('--handleContent', `'${parseInt(item, 10)}'`);
                    });
                });
            });
        </script>
    <?php else: ?>
    <?php foreach ($data as $item): ?>
    <input <?= $item['is_selected'] ? 'checked' : '' ?> name="<?= $block->getFilterParamName($filter) ?>"
           type="checkbox" class="yellow-radio"
           id="<?= $block->getFilterName($filter) . $item['value'] ?>"
           value="<?= $item['value'] ?>">
        <label for="<?= $block->getFilterName($filter) . $item['value'] ?>">
            <?php echo $block->escapeItemLabel($engineFilter, $item['label']) ?> (<?= $item['count'] ?>)
        </label>
    <?php endforeach ?>
    <?php endif; ?>
</ol>
