<?php
/**
 * @copyright   Copyright (c) http://www.manadev.com
 * @license     http://www.manadev.com/license  Proprietary License
 */
/** @var $block \Manadev\LayeredNavigation\Blocks\FilterRenderer */
/** @var $data array */
/** @var $engineFilter \Manadev\LayeredNavigation\EngineFilter */
/** @var $filter \Manadev\LayeredNavigation\Models\Filter */
?>
<ol id="<?php echo $block->getFilterName($filter) ?>" class="items" data-mage-init='{ "Manadev_LayeredNavigation/js/FilterView": {} }'>
    <div>
        <?php foreach ($data as $item): ?>
            <input <?= $item['is_selected'] ? 'checked' : '' ?> name="<?= $block->getFilterParamName($filter) ?>" type="radio" class="yellow-radio"
                   id="<?= $block->getFilterName($filter) . $item['value'] ?>"
                   value="<?= $item['value'] ?>">
            <label for="<?= $block->getFilterName($filter) . $item['value'] ?>">
                <?php echo $block->escapeItemLabel($engineFilter, $item['label']) ?> (<?= $item['count'] ?>)
            </label>
        <?php endforeach ?>
    </div>
</ol>
